.about-content {
  width: 100%;
  max-width: 1100px;
}

.about-title {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  font-size: clamp(40px, 8vw, 72px);
  color: #F0EBE3;
  letter-spacing: 0.1em;
  margin-bottom: 48px;
}


.about-gallery {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;

  &::-webkit-scrollbar {
    height: 6px;
  }

  @media (max-width: 1024px) {
    gap: 18px;
  }

  @media (max-width: 480px) {
    gap: 12px;
  }
}

