* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background: #222222;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  text-align: left;
}

html {
  scroll-behavior: smooth;
}